html,
body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.grid-wrapper {
  width: 100vw;
  height: 100vh;

  box-sizing: border-box;
  display: flex;
  align-self: center;
  justify-self: center;
}